/*
========================================================================================
    conf/docker.config — Docker engine + container assignments
========================================================================================
*/

docker {
    enabled    = true
    runOptions = '-u $(id -u):$(id -g)'
}

process {
    withName: 'FASTQC.*'              { container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0' }
    withName: 'MULTIQC.*'             { container = 'quay.io/biocontainers/multiqc:1.25.1--pyhdfd78af_0' }
    withName: 'CUTADAPT'              { container = 'quay.io/biocontainers/cutadapt:4.9--py312hf67a6ed_0' }
    withName: 'BOWTIE2_ALIGN'         { container = 'quay.io/biocontainers/mulled-v2-c742dccc9d8fabfcff2af0d8d6799dbc711366cf:b6524911af823c7c52518f6c886b86916d062940-0' }
    withName: 'SAMTOOLS.*'            { container = 'quay.io/biocontainers/samtools:1.20--h50ea8bc_0' }
    withName: 'FILTER_MITO_BLACKLIST' { container = 'quay.io/biocontainers/mulled-v2-9d3a458f6420e5712103ae2af82c94d26d63f059:60b54b43045e8cf39ba307fd683c897d3f8cbee3-0' }
    withName: 'MARK_DUPLICATES'       { container = 'quay.io/biocontainers/picard:3.2.0--hdfd78af_0' }
    withName: 'UMI_DEDUP'             { container = 'quay.io/biocontainers/umi_tools:1.1.5--py312h1f1cfbb_2' }
    withName: 'BAMCOVERAGE'           { container = 'quay.io/biocontainers/deeptools:3.5.5--pyhdfd78af_0' }
    withName: 'COMPUTE_MATRIX.*'      { container = 'quay.io/biocontainers/deeptools:3.5.5--pyhdfd78af_0' }
    withName: 'PLOT_PROFILE'          { container = 'quay.io/biocontainers/deeptools:3.5.5--pyhdfd78af_0' }
    withName: 'PLOT_HEATMAP'          { container = 'quay.io/biocontainers/deeptools:3.5.5--pyhdfd78af_0' }
    withName: 'BIGWIG_TO_BEDGRAPH'    { container = 'quay.io/biocontainers/ucsc-bigwigtobedgraph:469--h664eb37_0' }
    withName: 'MACS3.*'               { container = 'quay.io/biocontainers/macs3:3.0.2--py312hf67a6ed_0' }
    withName: 'MERGE_BAMS'            { container = 'quay.io/biocontainers/samtools:1.20--h50ea8bc_0' }
    withName: 'CONSENSUS_PEAKS'       { container = 'quay.io/biocontainers/bedtools:2.31.1--hf5e1c6e_2' }
    withName: 'ANNOTATE_PEAKS'        { container = 'quay.io/biocontainers/bioconductor-chipseeker:1.40.0--r44hdfd78af_0' }
    withName: 'FRIP.*'                { container = 'quay.io/biocontainers/mulled-v2-9d3a458f6420e5712103ae2af82c94d26d63f059:60b54b43045e8cf39ba307fd683c897d3f8cbee3-0' }
    withName: 'READ_RETENTION'        { container = 'quay.io/biocontainers/python:3.11' }
    withName: 'DETECT_FASTQ_PAIRS'    { container = 'quay.io/biocontainers/python:3.11' }
    withName: 'VALIDATE_ASSOCIATIONS' { container = 'quay.io/biocontainers/python:3.11' }
}
